.create-community-post {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    background-color: var(--card-bg);
    box-shadow: 0 2px 4px var(--border-color);
    text-align: center;
}
  
.create-community-post .create-post-title {
    font-size: 1.5rem;
    color: var(--header-text);
    margin-bottom: 1rem;
}
  
.create-community-post .input-container {
    margin-bottom: 1rem;
}
  
.create-community-post .label {
    font-size: 1.125rem;
    color: var(--secondary-title);
}
  
.create-community-post .input,
.create-community-post .textarea {
    width: 100%;
    padding: 0.3125rem 0.625rem;
    font-size: 1rem;
    border: 0.0625rem solid var(--border-color);
    border-radius: 0.1875rem;
    background-color: var(--input-bg);
    color: var(--input-text);
}
  
.create-community-post .textarea {
    height: 8rem;
    resize: vertical;
}
  
.create-community-post .create-post-button {
    font-size: 1.125rem;
    padding: 0.3125rem 0.625rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
.create-community-post .create-post-button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}
  