.create-page-post-container {
    width: 80%;
    max-width: 30rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: var(--card-bg);
    color: var(--card-on-card-bg);
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.3125rem var(--border-color);;
}
  
.create-page-post-container .create-post-title {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    text-align: center;
    color: var(--secondary-title);
}
  
.create-page-post-container .create-post-input {
    margin-bottom: 1.25rem;

}
  
.create-page-post-container .create-post-label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.3125rem;
}
  
.create-page-post-container .create-post-input-field,
.create-page-post-container .create-post-textarea {
    width: 100%;
    padding: 0.625rem;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    background-color: var(--input-bg);
    color: var(--input-text);
}
  
.create-page-post-container .create-post-button {
    display: block;
    width: 100%;
    padding: 0.625rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
  
.create-page-post-container .create-post-button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}