.create-community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 50vw;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    background-color: var(--card-bg);
    box-shadow: 0 2px 4px var(--border-color);
}

.create-community .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.create-community .input {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    background-color: var(--input-bg);
    color: var(--input-text);
}

.create-community .bttn {
    padding: 0.7rem 1rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--post-button-bg);
    color: var(--button-text);
}

.create-community .bttn:hover {
    background-color: var(--post-button-hover-bg);
    color: var(--post-button-hover-text);
}

.create-community .label {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text-on-main-bg);
}