.create-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 50vw;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    background-color: var(--card-bg);
    box-shadow: 0 2px 4px var(--border-color);
}
.create-page .title {
    color: var(--header-text);
}
  
.create-page .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
  
.create-page .label {
    font-weight: bold;
    color: var(--secondary-title);
}
  
.create-page .input {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    background-color: var(--input-bg);
    color: var(--input-text);
}
  
.create-page .create-button {
    padding: 0.5rem 1rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
  
.create-page .create-button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}
  