.create-community {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.create-community .input {
    padding: 0.7rem 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem
}

.create-community .bttn {
    padding: 0.7rem 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    background-color: #434343;
    color: #fff;

}

.create-community .label {
    font-size: 1.5rem;
    font-weight: bold;
}