.forgot-password {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    background-color: var(--card-bg);
    box-shadow: 0 2px 4px var(--border-color);
    text-align: center;
}
  
.forgot-password .label {
    font-weight: bold;
    color: var(--secondary-title);
}

.forgot-password h3 {
    color: var(--header-text);
}
  
.forgot-password .input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    background-color: var(--input-bg);
    color: var(--input-text);
}
  
.forgot-password .send-button {
    padding: 0.5rem 1rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}
  
.forgot-password .send-button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}
  