.friends {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends h2 {
    color: var(--header-text);
}

.friends .friend {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.friends .friend span {
    font-size: 1.5rem;
    color: var(--secondary-title);
}

.friends .friend button {
    padding: 0.7rem 1rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--button-bg);
    color: var(--button-text);
}

.friends .friend button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}