header {
    background-color: #c1c1c1;
    padding: 0.3rem;
    margin-bottom: 1rem;
}

header nav {
    display: flex;
    justify-content: end;
    margin: 0 auto;
    align-items: center;
    gap: 1rem;
}

header .logo {
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: auto;
    text-decoration: none;
    color: var(--first-primary-color);
}

.logout {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.logout button {
    border-radius: 0.3rem;
}

@media only screen and (max-width: 768px) {
    .logout span { 
        display: none;
    }
}