.loggedin-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.loggedin-user .icon {
    font-size: 1.4rem;
}

.loggedin-user-choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.loggedin-user-choices .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

@media screen and (max-width: 480px) {
    .loggedin-user-choices .search input {
        max-width: 10rem;
    }
}

.loggedin-user-choices button {
    padding: 1rem 2rem;
    background-color: var(--card-bg);
    color: var(--text-on-card-bg);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.loggedin-user-choices button:hover {
    background-color: var(--border-color);
}

.active-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.active-section-wrapper .close-btn {
    padding: 0.8rem 1.5rem;
    border: 0.1rem solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 1rem;
}

.active-section-wrapper .close-btn:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}

.loggedin-user-choices .search-icon:hover {
	animation: funny-icon 0.4s ease-in-out;
}


@keyframes funny-icon {
	0% {
		scale: 1;
	}

	50% {
		scale: 0.8;
		transform-origin: bottom;
		transform: rotate(-15deg);
	}

	100% {
		scale: 1;
	}
}


.loggedin-user-choices .search-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--input-bg);
    border-radius: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid #0056b3;
    transition: all 0.3s;
}

.loggedin-user-choices .search-input-container input,
.loggedin-user-choices .search-input-container select,
.loggedin-user-choices .search-input-container .search-icon{
  outline: none;
  border: none;
  flex: 1;
  padding: 0.5rem 1rem;
}

.loggedin-user select {
    border: 0.1rem solid var(--border-color);
    border-radius: 0.3rem;
    padding: 0.7rem;

    font-size: 1rem;
    
    background-color: var(--input-bg);
    color: var(--input-text);
    
}

.loggedin-user select option {
    font-size: 0.9rem;
    padding: 0.6rem;
    background-color: var(--input-bg);
    color: var(--input-text);
    border: none !important;
    outline: none !important;
}

.search-input-container input {
    background-color: var(--input-bg);
    color: var(--input-text);
}

.loggedin-user select:hover,
.loggedin-user select:focus {
    border-color: #007bff;
}




