.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav-bar .nav {
    font-size: 1.5rem;
}

.nav-bar .nav.active{
    background-color: #ebebeb;
    color: #434343;
    border-radius: 0.7rem;
    border: 0.1rem solid #fff;
}
