.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.nav-bar .nav-icon {
    font-size: 1.5rem;
    color: var(--navbar-link);
}

.nav-bar .nav-icon.active{
    color: var(--border-color);
}

