/* Container for the entire profile */
.other-user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--card-bg);
    box-shadow: 0 2px 4px var(--border-color);
}

.other-user-profile .selected-other-user-avatar-image {
    width: 5rem;
    height: 5rem;
    background-color: var(--secondary-title);
    border-radius: 50%;
    border: none;
}
  
  /* User information section */
.user-info {
    text-align: left;
    max-width: 400px;
    padding: 1rem;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 1rem;
    color: var(--header-text);
}
  
.user-info span {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--secondary-title);
}
  
.user-info button {
    margin: 0.5rem;
    padding: 0.3rem 0.7rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.user-info button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}
  
  /* Received friend request section */
.received {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
  
  /* Chat section */
.chat-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--main-background);
    margin-bottom: 1rem;
}

.chat-container span{
    display: flex;
    flex-direction: end;
}
  
.chat-message {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}
  
.chat-message.incoming {
    background-color: #252525 !important;
    color: var(--header-text) !important;
}

.chat-message.outgoing {
    background-color: #181818 !important;
    color: var(--secondary-title) !important;
}
  
.message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.message-input input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--input-bg);
    color: var(--input-text);
}
  
.message-input button {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}  

.other-user-profile .switch-button {
  margin-left: 0.5rem;
  padding: 0.3rem 0.5rem;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.other-user-profile .switch-button:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-text);
}
  