.other-user-profile {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.3rem;
}


.other-user-profile .chat-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.7rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.7rem;
    overflow-y: auto;
    max-height: 60vh;
}


.other-user-profile .chat-container .chat-message.outgoing {
    background-color: #d0e2ff;
    align-self: flex-end;
    font-size: 1.3rem;
}

.other-user-profile .chat-container .chat-message.incoming {
    background-color: #f0f0f0;
    align-self: flex-start;
    font-size: 1.3rem;
}

.other-user-profile .message-input input{
    flex: 1;
    padding: 0.7rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.2rem;
    margin-right: 0.7rem;
}

.other-user-profile .message-input button {
    margin-right: 0.7rem;
    padding: 0.7rem 1.3rem;
    border: none;
    background-color: #434343;
    color: #fff;
    border-radius: 0.3rem;
    cursor: pointer;
}

.other-user-profile button {
    margin: 0.5rem;
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #434343;
    color: #fff;
    cursor: pointer;
}

.other-user-profile .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}

.other-user-profile .user-info span {
    font-size: 1.3rem;
    font-weight: bold;
}


