.page-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.25rem;
}

.page-profile .span {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--secondary-title);
}
  
.page-name,
.page-description,
.page-likes {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.625rem;
}
  
.like-button {
    font-size: 1.125rem;
    padding: 0.3125rem 0.625rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
.like-button.liked {
    background-color: var(--liked-page);
}
  
.admin-actions {
    margin-top: 1rem;
}
  
.delete-button,
.create-post-button2 {
    font-size: 1rem;
    padding: 0.3125rem 0.625rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 0.625rem;
    transition: background-color 0.3s ease-in-out;
}
  
.delete-button:hover,
.create-post-button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
}
  