.chats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chats .chat-info {
    display: flex;
    flex-direction: column;
}

.chats .chat-info span{
    font-size: 1.5rem;
}


.chat .chat-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.7rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.7rem;
    max-height: 60vh;
}

.chat .chat-container .chat-message.outgoing {
    background-color: #d0e2ff;
    align-self: flex-end;
    font-size: 1.3rem;
}

.chat .chat-container .chat-message.incoming {
    background-color: #f0f0f0;
    align-self: flex-start;
    font-size: 1.3rem;
}

.chat .message-input input {
    flex: 1;
    padding: 0.7rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.2rem;
    margin-right: 0.7rem;
}

.chat .message-input button, .chats button, .chat button {
    margin-right: 0.7rem;
    padding: 0.7rem 1.3rem;
    border: none;
    background-color: #434343;
    color: #fff;
    border-radius: 0.3rem;
    cursor: pointer;
}

.chat .faded {
    background-color: gray !important;
    cursor: default !important;
}


/*Other User Typing Effect */
.chat-bubble {
    background-color:#E6F8F1;
    padding:16px 28px;
    -webkit-border-radius: 20px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius: 20px;
    -moz-border-radius-bottomleft: 2px;
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    display:inline-block;
  }
  .typing {
    align-items: center;
    display: flex;
    height: 17px;
  }
  .typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: #6CAD96 ;
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
  }
  .typing .dot:nth-child(1) {
    animation-delay: 200ms;
  }
  .typing .dot:nth-child(2) {
    animation-delay: 300ms;
  }
  .typing .dot:nth-child(3) {
    animation-delay: 400ms;
  }
  .typing .dot:last-child {
    margin-right: 0;
  }
  
  @keyframes mercuryTypingAnimation {
    0% {
      transform: translateY(0px);
      background-color:#6CAD96;
    }
    28% {
      transform: translateY(-7px);
      background-color:#9ECAB9;
    }
    44% {
      transform: translateY(0px);
      background-color: #B5D9CB;
    }
  }