.user-pages {
    margin-top: 1.25rem;
}
  
.section-title {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}
  
.page-info {
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    margin-bottom: 0.625rem;
}
  
.page-name,
.page-description {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.625rem;
    color: var(--text-on-card-bg);
}
  
.toggle-button {
    font-size: 1rem;
    padding: 0.3125rem 0.625rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
.toggle-button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-color);
}
  