.joined-communities {
    margin-top: 1.25rem;
}
  
.section-title {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}
  
.community-info {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 0.625rem;
}
  
.community-name,
.community-description {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.625rem;
    color: #434343;
    font-weight: bold;
}
  
.toggle-button {
    font-size: 1rem;
    padding: 0.3125rem 0.625rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
.toggle-button:hover {
    background-color: #0056b3;
}
  