@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --first-primary-color: #007bff;
  --second-primary-color: #0056b3;
  --third-primary-color: #042d59;

  --first-danger-color: #dc3545;
  --second-danger-color: #c82333; 
}

*,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F0F2F5;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media screen and ((min-width: 481px) and (max-width: 768px) ) {
  html {
    font-size: 14px;
  }
}

@media screen and ((min-width: 769px) and (max-width: 1024px)) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1025px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1201px) {
  html {
    font-size: 22px;
  }
}

.error {
  color: #da2535;
  margin-top: 8px;
}


/*Post styles */
/* Style for the whole post */
.post {
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 1rem 2rem;
  padding: 1.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 480px) {
  .post {
    margin: 1rem 3rem;
  }
}

@media screen and (min-width: 481px) {
  .post {
    margin: 1rem 5rem;
  }
}

@media screen and (min-width: 1025px) {
  .post {
    margin: 2rem 7rem;
  }
}

/* Header Section */
.post-header {
  margin-bottom: 1rem;
}

/* Creator's name */
.post-creator {
  font-size: 1.2rem;
  font-weight: bold;
}

.post .clickable {
  color: #434343;
  cursor: pointer;
  text-decoration: underline;
}

/* Header text */
.post-header-text {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

/* Content Section */
.post-content {
  font-size: 1rem;
  color: #444;
}

/* Button Section */
.post-buttons {
  margin-top: 1rem;
}

/* Common styles for buttons */
.post-buttons .basic-buttons {
  display: flex;
  margin-bottom: 0.5rem;
}
.post-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  font-size: 0.7rem;
  border-radius: 1rem;
  transition: background-color 0.2s;
}

/* Button hover effect */
.post-button:hover {
  background-color: #0056b3;
}

/* Button count */
.post .post-count {
  font-size: 0.9rem;
  margin-right: 0.3125rem;
  color: #555;
}

.post .post-count .span {
  font-size: 1rem;
  font-weight: bold;
  color: #434343;
  
}

.post .post-content .content {
  font-size: 1rem;
  font-weight: bold;
  color: #434343;
}

/* Select Dropdown */
.post .post-select {
  padding: 0.3rem;
  font-size: 0.9rem;
  border: none;
  outline: none;
  background-color: transparent;
}

/* Comment Section */
.post-comment {
  margin-top: 1.25rem;
}

/* Textarea for comments */
.post-comment-textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

/* Comment button */
.post-comment-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  margin-top: 0.3125rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}

/* Comment button hover effect */
.post-comment-button:hover {
  background-color: #0056b3;
}

/* Reactions Section */
.post-reactions {
  margin-top: 1.25rem;
}

/* Reaction block */
.post-reaction {
  margin-bottom: 0.625rem;
}

/* Reaction owner's name */
.post-reaction-owner {
  font-weight: bold;
}

/* Reaction text */
.post-reaction-text {
  color: #333;
}

/* Comments Section */
.post-comments {
  margin-top: 1.25rem;
}

/* Comment block */
.post-comment {
  margin-bottom: 1.25rem;
}

/* Comment owner's name */
.post-comment-owner {
  font-weight: bold;
}

/* Comment content */
.post-comment-content {
  color: #444;
}

/* CreatedAt */
.post-comment-createdat {
  font-size: 0.8rem;
  color: #555;
}

/* Comment Actions */
.post-comment-actions {
  margin-top: 0.625rem;
}

/* Action button */
.post-comment-action-button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}

/* Action button hover effect */
.post-comment-action-button:hover {
  background-color: #c9302c;
}

/* Update textarea */
.post-comment-update-textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  margin-top: 0.3125rem;
}

/* Update button */
.post-comment-update-button {
  background-color: #5bc0de;
  color: #fff;
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 0.25rem;
}

.selected-avatar-image {
  margin-top: 0.3rem;
  width: 5rem; 
  height: 5rem;
  border-radius: 50%; 
  
}

.post-created {
  font-size: 0.8rem;
  color: #555;
  margin-left: auto;
}

.post .post-first-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more-btn {
  background-color: var(--second-primary-color);
  color: #fff;
  border: none;
  border-radius: 1rem;
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.load-more-btn:hover {
  background-color: var(--first-primary-color); 
}

 