@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-background: #121212; /* Main background color */

  /* Text Colors */
  --text-on-main-bg: #f0eeee; /* Text on main background */
  --subheader-text: #fafafa; /* Subheaders and secondary text */

  /* Headers and Titles */
  --header-text: #f8f8f8; /* Headers and primary titles */
  --secondary-title: #CCCCCC; /* Secondary titles */

  /* Links and Buttons */
  --link-text: #3498DB; /* Link text color */
  --button-bg: #4CAF50; /* A shade of green for the button background */
  --button-text: #FFFFFF; /* White text color for buttons */
  --button-hover-bg: #388E3C; /* A slightly darker shade of green for button hover background */
  --button-hover-text: #FFFFFF; /* White text color for button hover state */
  
  --post-button-bg: #4285F4; /* Google blue */
  --post-button-text: #FFFFFF; /* White text color for buttons */
  --post-button-hover-bg: #357AE8; /* Slightly darker blue for button hover background */
  --post-button-hover-text: #FFFFFF;

  /* Post and Card Backgrounds */
  --card-bg: #1E1E1E; /* Card background color */
  --post-content-bg: #1C1C1C; /* Post content background color */

  /* Icons */
  --icon-color: #FFFFFF; /* Icon color */

  /* Highlight and Accent Colors */
  --accent-color: #E74C3C; /* Accent color for notifications, etc. */
  --success-color: #27AE60; /* Success message color */
  --error-color: #E74C3C; /* Error message color */

  /* Borders and Dividers */
  --border-color: #333333; /* Border color */

  /* Input Fields and Forms */
  --input-bg: #222222; /* Input field background color */
  --input-text: #FFFFFF; /* Input text color */
  --placeholder-text: #666666; /* Placeholder text color */

  /* Navigation Bar */
  --navbar-bg: #181818; /* Navigation bar background color */
  --navbar-link: #FFFFFF; /* Navigation link text color */
  --navbar-link-hover: #3498DB; /* Navigation link hover color */

  --text-on-card-bg: #cccccc;
  --text-on-post-bg: #cccccc;

  --liked-page: #E74C3C;
}

*,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--main-background);
  color: var(--text-on-main-bg);
}

html {
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
@media screen and ((min-width: 481px) and (max-width: 768px) ) {
  html {
    font-size: 14px;
  }
}

@media screen and ((min-width: 769px) and (max-width: 1024px)) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1025px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1201px) {
  html {
    font-size: 22px;
  }
}

.error {
  color: var(--error-color);
  margin-top: 8px;
}


/*Post styles */
/* Style for the whole post */
.post {
  border: 1px solid var(--card-bg);
  background-color: var(--post-content-bg);
  margin: 1rem 2rem;
  padding: 1.25rem;
  box-shadow: 0 0.125rem 0.25rem var(--card-bg);
}

@media screen and (min-width: 480px) {
  .post {
    margin: 1rem 3rem;
  }
}

@media screen and (min-width: 481px) {
  .post {
    margin: 1rem 5rem;
  }
}

@media screen and (min-width: 1025px) {
  .post {
    margin: 2rem 7rem;
  }
}

/* Header Section */
.post .post-header {
  margin-bottom: 1rem;
  color: var(--header-text);
}

/* Creator's name */
.post .post-creator {
  font-size: 1.2rem;
  font-weight: bold;
}

.post .clickable {
  color: var(--link-text);
  cursor: pointer;
  text-decoration: underline;
}

/* Header text */
.post .post-header-text {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--header-text);
}

/* Content Section */
.post .post-content {
  font-size: 1rem;
  color: var(--secondary-title);
}

/* Button Section */
.post .post-buttons {
  margin-top: 1rem;
}

/* Common styles for buttons */
.post .post-buttons .basic-buttons {
  display: flex;
  margin-bottom: 0.5rem;
}
.post-button {
  background-color: var(--post-button-bg);
  color: var(--post-button-text);
  border: none;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  font-size: 0.7rem;
  border-radius: 1rem;
  transition: background-color 0.2s;
}

/* Button hover effect */
.post-button:hover {
  background-color: var(--post-button-hover-bg);
  color: var(--post-button-hover-text);
}

/* Button count */
.post .post-count {
  font-size: 0.9rem;
  margin-right: 0.3125rem;
  color: #555;
}

.post .post-count .span {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-on-post-bg);
  
}

.post .post-content .content {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-on-post-bg);
}

/* Select Dropdown */
.post .post-select {
  padding: 0.3rem;
  font-size: 0.9rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-on-post-bg);
}

.post .post-select option {
  background-color: var(--post-content-bg);
  color: var(--text-on-post-bg);
}

/* Comment Section */
.post .post-comment {
  margin-top: 1.25rem;
}

/* Textarea for comments */
.post .post-comment-textarea {
  background-color: var(--input-bg);
  color: var(--input-text);
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--card-bg);
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

/* Comment button */
.post .post-comment-button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  margin-top: 0.3125rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}

/* Comment button hover effect */
.post .post-comment-button:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-hover-text);
}

/* Reactions Section */
.post .post-reactions {
  margin-top: 1.25rem;
}

/* Reaction block */
.post .post-reaction {
  margin-bottom: 0.625rem;
}

/* Reaction owner's name */
.post .post-reaction-owner {
  font-weight: bold;
}

/* Reaction text */
.post .post-reaction-text {
  color: var(--text-on-post-bg);
}

/* Comments Section */
.post .post-comments {
  margin-top: 1.25rem;
}

/* Comment block */
.post .post-comment {
  margin-bottom: 1.25rem;
}

/* Comment owner's name */
.post .post-comment-owner {
  font-weight: bold;
}

/* Comment content */
.post .post-comment-content {
  color: var(--text-on-post-bg);
}

/* CreatedAt */
.post .post-comment-createdat {
  font-size: 0.8rem;
  color: var(--text-on-post-bg);
}

/* Comment Actions */
.post .post-comment-actions {
  margin-top: 0.625rem;
}

/* Action button */
.post .post-comment-action-button {
  background-color: var(--accent-color) !important;
  color: var(--button-text);
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s;
}

/* Action button hover effect */
.post .post-comment-action-button:hover {
  background-color: #c9302c;
}

/* Update textarea */
.post .post-comment-update-textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--card-bg);
  border-radius: 0.25rem;
  font-size: 0.9rem;
  margin-top: 0.3125rem;
}

/* Update button */
.post .post-comment-update-button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 0.25rem;
}

.post .selected-avatar-image {
  margin-top: 0.3rem;
  margin-right: 0.3rem;
  width: 4rem; 
  height: 4rem;
  border-radius: 50%; 
  background-color: var(--icon-color);
}

.post .post-created {
  font-size: 0.8rem;
  color: var(--text-on-post-bg);
  margin-left: auto;
}

.post .post-first-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more-btn {
  background-color: var(--post-button-bg);
  color: var(--post-button-text);
  border: none;
  border-radius: 1rem;
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.load-more-btn:hover {
  background-color: var(--post-button-hover-bg);
  color: var(--post-button-hover-text); 
}

 